* {
  box-sizing: border-box;
  outline: none;
}

.app-container {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz','Lato', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  color: black;
}

a:hover {
  text-decoration: underline;
}

.footerCointainer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mainFooter {
  width: 100%;
  bottom: 0;
  height: 3rem;
  background-color:black;
}

.footer {
  display: flex;
  justify-content: space-around;
}

a.footer {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px 15px;
}

a.footer:hover {
  color: rgba(255, 255, 255, 0.8);
}

.firstScreen {
 margin-left: auto;
 margin-right: auto;
 position: relative;
 max-width: 780px;
 padding: 15px;
 text-align: center;
}

h1 {
  font-family: 'Yanone Kaffeesatz';
  margin-top: 5%;
  letter-spacing: 4px;
  color: white;
}

.header {
  text-align: center;
}

.explain {
  text-align: left;
  line-height: 1.2rem;
  font-family: 'Lato';
  font-size: 16px;
  color: white;
}

.explain.modelText {
  font-size: 18px;
  line-height: 1.6;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.logo {
  color: #EEBBF9;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 100px;
  font-size: 58px;
  line-height: 3.5rem;
  font-weight: 300;
}

.example {
  font-style: italic;
  color: white;
}

.inputForm{
 display: flex;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 width: 420px;
 color: white;
}

input.word {
  background-color: black;
  border: none;
  border-bottom: 3px solid #ED965F;
  color: white;
  font-size: 18px;
  width: 420px;
  margin-top: 16%;
  text-transform: capitalize;
  padding-left: 10px;
  padding-bottom: 5px;
}

button {
  background:transparent;
  cursor: pointer;
  transition: all .15s ease-in;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  border-radius: 70px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  text-transform: uppercase;
  padding: 16px 70px;
}

button:hover {
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  padding: 15px 50px;
}

button.search {
  margin-top: 80px;
  border: 1px solid #EEBBF9;
  border-radius: 70px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  padding: 16px 70px;
}

button.search:hover {
  border: 2px solid #EEBBF9;
  background-color: #EEBBF9;
  color: black;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  padding: 15px 50px;
}

.spinner{  
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.mainTitle {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.secondScreen {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  position: relative;
}


.model {
  position: absolute;
  background: black;
  z-index: 100;
  height: 300px;
  width: 600px;
  margin-top: 100px;
  margin-left: 250px;
  border: 3px solid #EEBBF9;
  padding: 20px 30px;
  padding-bottom: 60px;
}

.title.result {
  padding-bottom: .5rem;
  font-size: 36px;
  color: white;
  font-weight: 400;
}

.title.result-before {
  color: #ED965F;
  padding-left: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 42px;
}

.title.result-before.final {
  color: white;
}

.number {
  padding-left: 5px;
  font-size: 42px;
  color: #ED965F;
}

.number.edit {
  color: #EEBBF9;
}

.title.result-before.edit{
  color: #EEBBF9;
}

.leftSection {
  font-family: 'Roboto', sans-serif; 
  width: 400px;
  height: 580px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px dotted #EEBBF9;
}

.leftSection.result {
  border: none;
}

.leftSection.edit {
  height: 1200px;
  border: 1px dotted #ED965F;
}

.explaining.edit {
  height: 1160px;
} 

.explaining {
  font-family: 'Roboto', sans-serif; 
  width: 380px;
  height: 550px;
  color: white;
  border: 1px solid white;
}

.explaining.result {
  border:none;
}

.explain.main {
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;
  letter-spacing: 2px;
}

.explain.main.final {
  padding: 0;
  text-align: left;
  font-size: 16px;
  margin :0;
}

.explain.main.edit {
  line-height: 2rem;
}

.explain.two {
  line-height: 1.5rem;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif; 
}

button.more{
  margin-bottom: 50px;
  margin-left: -1rem;
  margin-top: 40px;
  border: 1px solid white;
  border-radius: 70px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  padding: 16px 50px;
}

.more.modelText {
  background-color: black;
  border: 2px solid #EEBBF9;
  border-radius: 20px;
  margin-top: 60px;
}

.more.modelText:hover {
  border: 2px solid #EEBBF9;
  background-color: #EEBBF9;
}

button.more:hover {
  border: 2px solid #ED965F;
  background-color: #ED965F;
  color: black;
  border-radius: 10px;
  padding: 15px 35px;
}

button.start {
  padding: 18px 35px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 3.2rem;
  border: 1px solid white;
  border-radius: 60px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .75);
  /* padding: 16px 100px; */
 }

 button.start:hover {
  border: 2px solid #ED965F;
  background-color: #ED965F;
  color: black;
  border-radius: 10px;
  padding: 18px 35px;
 }

.editForm {
  border-top: 4px solid #ED965F;
  padding: 20px;
  padding-top: 60px;
  padding-right: 80px;
  width: 330px;
  margin-top: .3rem;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif; 
}

.MuiSlider-markLabel {
  color: white !important;
  font-family: 'Roboto', sans-serif; 
  font-size: 14px; 
}

.MuiTypography-body1 {
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  font-size: 18px !important;
  width: 300px !important;
  letter-spacing: 2px !important;
}

.MuiSlider-markLabel.MuiSlider-markLabelActive {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.MuiTypography-root.label {
  padding-bottom: 15%;
}

.explain.three {
  color: #ED965F !important;
  font-size: 12px;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif; 
}

.imageContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 10rem;
  width: 700px;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px; 
}

img {
  height: 160px;
  width: 160px;
  object-fit: cover;
}

button:disabled {
  cursor: not-allowed;
  /* transform:scale(1) translateY(0); */
  box-shadow: none;
  color: grey;
}

.start.train:disabled {
  padding: 10px 35px;
  margin-top: 2rem;
  margin-bottom: -.5rem;
  margin-left: 2.8rem;
  color: grey;
  border: 1px solid grey;
  border-radius: 10px;
}

.start.train:disabled:hover {
  color: grey;
  border: 1px solid grey;
  background-color: transparent;
}

.start.train:enabled{
  background-color: #f60257;
  color: white;
  border: 1px solid #f60257;
  margin-top: 2rem;
  margin-bottom: -.5rem;
  transition: all .35 ease-in;
  margin-left: 2.7rem;
}

.trainingImages {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  z-index: -100000;
  opacity: 0.98;
}

.timer {
  margin-top: 0;
  margin-left: 0;
  z-index: 1000;
  display: inline-block;
  background-color: rgba(73, 73, 73, 0.692);
  padding: 2%;
  width: 400px;
}

.trainingTitle {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding-bottom: 0;
  margin-bottom: 5px;
  font-family: 'Yanone Kaffeesatz';
  letter-spacing: 5px;
  font-weight: 600;
  z-index: 1000;
}

.timeText {
  color: white;
  font-family: 'Lato';
  padding-right: 5px;
  padding-left: 5px;
  z-index: 1000;
}

